<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>

</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

 <input type="hidden" name="_method" value="PUT">  <!-- external -->

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">

  <label for="image"><b>Image</b></label>
  <input style="height: 50px; width:100%; border:1px solid gray; background-color:white" type="file" name="image" />
  <% if (data.image) { %>
    <img src="/uploads/<%= data.image %>" alt="Current Image" style="max-width: 100px;"><br>
  <% } %>

  <label for="category"><b>Category</b></label>
  <input type="text" placeholder="Post Category" name="category" value="<%= data.category %>">

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn">

</form>